.destDetails{
    margin: 30px;
}
.title{
    margin-bottom: 10px;
}
.location{
    margin-top: 50px;
}
body {
    height: 150%;
}
.detailsLoader{
    padding-top: 200px;
    padding-left: 150px;
    width: 50%;

}