.destDetails{
    margin: 30px;
    
}
.title{
    margin-bottom: 10px;
    font-family: 'Mali', cursive;
}
.location{
    margin-top: 50px;
    height : 100px;
}
body {
    height: 150%;
    font-family: 'Mali', cursive !important;
}
.detailsLoader{
    padding-top: 200px;
    padding-left: 150px;
    width: 50%;

}
.relDest {
    background-color: aqua;
}